div {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: italic;
	line-height: normal;
	font-weight: lighter;
	font-variant: normal;
	text-transform: uppercase;
	color: #FF0000;
	text-decoration: underline blink;
	background-attachment: scroll;
	background-color: #00FF00;
	background-repeat: repeat-y;
	background-position: center center;
	letter-spacing: normal;
	text-align: center;
	text-indent: LOGIC SOFTWARE SOLUTIONS;
	vertical-align: middle;
	word-spacing: normal;
	white-space: nowrap;
	display: marker;
	margin: 100px;
	padding: 100px;
	clear: right;
	float: left;
	height: auto;
	width: 190px;
	border: medium solid #66CCFF;
	list-style-position: outside;
	list-style-type: circle;
	overflow: visible;
	position: absolute;
	z-index: auto;
	left: 529px;
	top: 7px;
	right: auto;
	bottom: auto;
	clip: rect(auto,auto,auto,auto);
	cursor: wait;
	filter: FlipV;
	page-break-before: left;
	page-break-after:  right;
	visibility: visible;
}
